<!DOCTYPE html>
<html>
<head>
	<title>Clienti</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/01ff707ca4.js" crossorigin="anonymous"></script>


</head>
<body>
	<section class="web_site">
		<div class="menu_section bcolor">
			<h3 class="logo">LOGO</h3>
			<ul class="menu">
				<li class="menu_item">
					<i class="fas fa-tachometer-alt"></i>
					<a href="#">Companie</a></li>
				<li class="menu_item">
					<i class="fas fa-archive"></i>
					<a href="#">Clienti</a>
			</ul>
		</div>

	    <div class="main_content_section">
	    		<div class="row head ">
	    			<div class="col-4 ">
	    				<h2 class="header_page">Tichete</h2>

	    			</div>
	    			<div class="col-3 pt-2">
	    				<input type="text" class="search" placeholder="Cauta...">
	    			</div>

	    			<div class="col-5 pt-2">
	    				<button class="b bordcolor">Avansat</button>
	    				<button class="a bcolor">Adaugare</button>
	    			</div>
	    		</div>

	    	<div class="row ">
	    		<table style="margin-top: 101px;  margin-left: 30px; border-radius: 6px;box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.03);">
	    			<tr>
	    				<td class="h">ID</td>
	    				<td class="h">Responsabil</td>
	    				<td class="h">Client ID</td>
	    				<td class="h">Status</td>
	    				<td class="h">Urgenta</td>
	    				<td class="h">Descriere</td>
	    				<td class="h">Data raportare</td>
	    				<td class="h"></td>
	    				<td class="h"></td>

	    			</tr>
	    			<tr>
	    				<td>00001</td>
	    				<td>I87343</td>
	    				<td>C93837</td>
	    				<td>new</td>
	    				<td>high</td>
	    				<td>OOPS</td>
	    				<td>10/10/10</td>
						<td><a>Edit</a></td>
						<td><a>Delete</a></td>
	    			</tr>
	    			<tr>
                        <td>00001</td>
                        <td>I87343</td>
                        <td>C93837</td>
                        <td>new</td>
                        <td>high</td>
                        <td>OOPS</td>
                        <td>10/10/10</td>
                        <td><a>Edit</a></td>
                        <td><a>Delete</a></td>
	    			</tr>
	    			<tr>
                        <td>00001</td>
                        <td>I87343</td>
                        <td>C93837</td>
                        <td>new</td>
                        <td>high</td>
                        <td>OOPS</td>
                        <td>10/10/10</td>
                        <td><a>Edit</a></td>
                        <td><a>Delete</a></td>
	    			</tr>
	    			<tr>
                        <td>00001</td>
                        <td>I87343</td>
                        <td>C93837</td>
                        <td>new</td>
                        <td>high</td>
                        <td>OOPS</td>
                        <td>10/10/10</td>
                        <td><a>Edit</a></td>
                        <td><a>Delete</a></td>
	    			</tr>
	    		</table>
	    	</div>
	    </div>
	</section>
</body>
</html>
